<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator.Silverlight" version="1.0" targetFramework="net40" />
  <package id="Moq" version="4.0.10827" targetFramework="net40" />
  <package id="NUnit" version="3.10.1" targetFramework="net40" />
  <package id="Telerik.Web.UI" version="2014.3.1209.40" targetFramework="net40" />
</packages>